body {
  margin: 0;
  padding: 0;
  // font-family: sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, textarea {
  outline: none;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 4px;
  &:focus { border-color: #8aacf7; }
}

textarea { resize: none; }

::placeholder { color: #c5d1dd; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}